.opened-modal{
    display: block !important;
}

.closed-modal{
    display: none !important;
}


#modal{
    z-index: 50 !important;

}

#modal-content{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px, rgba(0, 0, 0, 0.4) 0px 1px 2px;
    border-radius: 15px !important;
    padding: 15px;
    margin-top: 5%;
    max-width: 700px;
    text-align: center;
    z-index: 150 !important;
}

#cookies-lottie{
    width: 100px;
    height: auto;
    background: transparent;
    margin-left: auto;
    margin-right: auto;
}

#button-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


button#accept{
    width: 100px;
    height: 30px;
    margin: 10px auto auto;
    outline: none;
    border-radius: 5px;

    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 2px, rgba(0, 0, 0, 0.15) 0px 1px 2px;
    transition: all 0.5s linear;
    font-weight: bold;
    border: 1px solid #2d2d2d;
    background-color: white;
    color: #2d2d2d;
}

button#accept:focus{
    outline: none;
}

button#accept:hover{
    cursor: pointer;
    color: white;
    background-color: #2d2d2d;
}

#country-stats-modal{
    color: black;
    z-index: 150 !important;
}

.w3-display-topright{
    border-top-right-radius: 15px;
    transition: 0.2s linear all;
}

#modal-image{
    width: 100px;
}

#cities-table,
#cities-table-header{
    margin-left: auto;
    margin-right: auto;
}

#cities-table-header{
    margin-top: 15px;
}

#cities-table-header{
    position: sticky;
    top: 0;
}

#cities-table-container-all{
    height: 150px;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
}

#cities-table-container{
    height: 130px;
    max-width: 500px;
    overflow-y: scroll;
    margin-left: auto;
    margin-right: auto;

    scrollbar-width: thin !important;
    scrollbar-color: rgb(255, 173, 17) transparent !important;
}


#cities-table-container::-webkit-scrollbar {
    -webkit-appearance: none
}
#cities-table-container::-webkit-scrollbar:vertical {
    width: 11px
}
#cities-table-container::-webkit-scrollbar:horizontal {
    height: 11px;
}
#cities-table-container::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white ; /* should match background, can't be transparent */
    background-color: rgb(255, 173, 17); ;
}
#cities-table-container::-webkit-scrollbar-track {
    background-color: #fff ;
    border-radius: 8px;
}

#cities-table{
    border-collapse: collapse;
}


#cities-table td{
    border-bottom: 1px solid #343131;

}

#cities-table td:first-child{
    text-align: left;
    width: 50%;
}
#cities-table td:last-child{
    text-align: center;
    width: 40%;
}
