#home-page{
    display: flex;
    height: 100% !important;
    width: 50%;
    flex-direction: column;
}

#home-buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% - 70px) ;
}


@media screen and (max-width: 900px){
    #home-buttons-container{
        flex-direction: column;
    }
}

#home-buttons-container a{
    margin: 50px;
    min-width: 200px;
    width: 200px;
    height: 80px;
}

.box-button{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 3px solid white;
    color: white;
    font-weight: bold;
    font-size: large;
    border-radius: 5px;

    transition: all 0.5s linear;

    animation: fadeInDown;
    animation-duration: 1.5s;
}

.box-button:hover{
    background-color: rgba(255,255,255, 0.3);
    cursor: pointer;
}
