#ip-address-page{
    margin-right: auto;
    margin-left: auto;

    display: flex;
    height: calc(100% - 70px) ;
    flex-direction: column;
}

#ip-address-page p{
    margin: 15px;

}

#ip-address{

    border-radius: 5px;

    text-align: left;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding-top: 10px;
    width: 80%;
    font-size: xxx-large !important;
    animation: fadeInDown;
    animation-duration: 2s;
}

#ip-address h2{
    font-size: xxx-large !important;
    color: rgb(255, 173, 17);
}

@media screen and (max-width: 400px){
    #ip-address h2{
        font-size: xx-large !important;
    }


    #ip-address{
        font-size: xx-large !important;
    }
}

#ip-info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#gps{
    animation: fadeInLeft;
    animation-duration: 2s;
}

#location{
    animation: fadeInRight;
    animation-duration: 2s;
}

#gps,
#location{

    border-radius: 15px;

    text-align: center;
    width: 200px;
    height: 135px;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
}
