#weather-page{
    margin-right: auto;
    margin-left: auto;

    display: flex;
    height: calc(100% - 70px) ;
    flex-direction: column;
}

.blank{
    background-image: none !important;
}

#weather-info{

    max-width: 450px;
    width: 70%;
    min-width: 180px;
    height: 530px;

    background-color: rgba(255,255,255,0.2);
    border: 1px solid white;
    border-radius: 15px;
    margin:auto;
    padding-top: 0 !important;
    border-top: none;
}

#weather-info p{
    text-align: center;
}



@media screen and (max-width: 450px) {
    #weather-info,
    #glass{
        width: 95%;
    }
}


#weather-info h2{
    width: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-color: white;
    color: black;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 !important;
    transition: 1s all linear;
}

#weather-info h1{
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: xxx-large;
    border-bottom: 1px solid rgba(255,255,255, 0.5);
    transition: 1s all linear;
    padding-top: 0;
    margin-top: 0;
}

#lottie-container{
    background: transparent;
    min-width: 100px;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

#lottie{
    background: transparent;
    min-width: 100px;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    transition: 1s all linear;
}


#weather-detail{
    text-align: center;
    width: 100%;
    font-size: large;
    margin: auto auto 15px;
}

#weather-detail td{
    transition: 1s all linear;
    padding: 5px;
}


#weather-detail td:first-child{
    width: 40%;
    text-align: right;
}

#weather-detail td:last-child{
    width: 50%;
    text-align: left;
}

#weather-info select{
    margin-top: 10px;
    border: none;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    padding: 5px;

    width: 130px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 2px, rgba(0, 0, 0, 0.15) 0px 1px 2px;

}

#weather-info select:focus{
    outline: none;
}