nav{
    width: 100%;
    max-height: 10px;
    color: white;
    margin-bottom: 10px;

    padding-top: 10px;
    padding-bottom: 30px;
}

#links-container{
    text-align: center;
}

#links-container a{
    margin: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;

    border-bottom: 1px solid transparent;
    transition: all 0.2s linear;
}

@media screen and (max-width: 300px) {
    #links-container a{
        margin: 10px;
    }
}



#links-container a:hover {
    border-color:  rgb(255, 173, 17);;
    color: rgb(255, 173, 17);
}

#home-icon{
    position: absolute;
    top: 30px;
    left: 10px;
    transition: all 0.2s linear;
}

#home-icon:hover{
    color: rgb(255, 173, 17);
}