#map{

    height: 60%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 15px;
    border: 3px solid rgb(255, 173, 17);
    max-width: 700px;
    min-height: 200px;
    -webkit-box-shadow: 0px 1px 2px 3px rgba(0,0,0,0.1);
    -moz-box-shadow:    0px 1px 2px 3px rgba(0,0,0,0.1);
    box-shadow:         0px 1px 2px 3px rgba(0,0,0,0.1);

    animation: fadeInRight;
    animation-duration: 1s;
    z-index: 2 !important;
}


@media screen and (max-width: 500px){
    #map{
        width: 100%;
    }
}

.transparent-border{
    border-color: transparent !important;
}
