.page-container{
  padding: 10px;

  color: white;
  width: 85%;

  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  display: flex;
  height: calc(100% - 50px) !important;
  flex-direction: column;
  justify-content: flex-start;
}


