body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100%;
  background-color: black;
  padding: 0;
  overflow-x: hidden;
}

html{
  height: 100%;
  background-color: black;
  margin: 0;
  padding: 0;
}

#background-image{
  width: 100%;
  height: 100%;
  background-color: #343131;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: fixed;


  filter: blur(5px);
  -webkit-filter: blur(5px);

  animation: zoom;
  animation-duration: 15s;

  transition: 1s all linear;
}

.me-image{
  background-image: url("./resources/me.jpg") !important;

}

.cairo-image{
  background-image: url("./resources/cairo.jpg") !important;
}

.ny-image{
  background-image: url("./resources/ny.jpg") !important;
}
.moscow-image{
  background-image: url("./resources/moscow.jpg") !important;
}
.hanoi-image{
  background-image: url("./resources/hanoi.jpg") !important;
}
.delhi-image{
  background-image: url("./resources/delhi.jpg") !important;
}
.svalbard-image{
  background-image: url("./resources/svalbard.jpg") !important;
}


#root{
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  min-height: 90vh;

  height: auto;
}

@keyframes show-background {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes zoom {
  from {width: 120%}
  to {width: 100%}
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
