#country-table-all-container{
    animation: fadeInUp;
    animation-duration: 1s;
}

#country-table-container{
    overflow-y: scroll;
    position: relative;
    max-height: 80%;

    scrollbar-width: thin !important;
    scrollbar-color: rgb(255, 173, 17) transparent !important;
}

#sticky-table{
    margin-left: auto;
    margin-right: auto;
}

#country-table{
    margin-left: auto;
    margin-right: auto;

    width: 100%;
    max-height: 100%;

    transition: 0.3s all linear;
    border-collapse: collapse;
}

#sticky-table{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}


#country-table-container::-webkit-scrollbar {
    -webkit-appearance: none
}
#country-table-container::-webkit-scrollbar:vertical {
    width: 7px
}
#country-table-container::-webkit-scrollbar:horizontal {
    height: 7px;
}
#country-table-container::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white ; /* should match background, can't be transparent */
    background-color: rgb(255, 173, 17); ;
}
#country-table-container::-webkit-scrollbar-track {
    background-color: #fff ;
    border-radius: 8px;
}

#flag{
    max-width: 25px;
    max-height: 20px;
    margin-top: -5px;
}


#country-table tr:hover{
    background-color: #2d2d2d;
    cursor: pointer;
}