#tables-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: auto;
}

tr{
    height: 1px;
}

td{
    padding: 5px;
}

td:last-child{
    text-align: center;
}

#page-table,
#time-table,
#country-table-all-container{
    width: 200px;
    height: 190px;
    margin: 25px auto auto;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: rgba(255,255,255, 0.1);

    -webkit-box-shadow: 0px 1px 2px 3px rgba(0,0,0,0.2);
    -moz-box-shadow:    0px 1px 2px 3px rgba(0,0,0,0.2);
    box-shadow:         0px 1px 2px 3px rgba(0,0,0,0.2);
}

th{
    border-bottom: 1px solid white;

}